@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');


/* base */
:root{
    --primary-color: #ED1B24;
    --secondary-color: #F46717;
    --gray-color: #848484;
    --text-color: #222;
    --font-family: 'Gabarito', sans-serif;
    --container-width: 1240px;
    --gradient-gray: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0));

    --bs-gradient: linear-gradient(-90deg, var(--primary-color), var(--secondary-color));
    --bs-primary: var(--primary-color);
    --bs-primary-rgb: 237, 27, 36;
    --bs-box-shadow-sm: 0 .25rem 2.5rem rgba(0,0,0,.1);
    --bs-light: #f5f5f5;
    --bs-light-rgb: 245, 245, 245;
}

body {
    font-family: var(--font-family);    
    color: var(--text-color);
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1 {
    font-size: calc(1.8rem + 1.5vw);
}
h3 {
    font-size: calc(1.3rem + .5vw);
}

p{
    line-height: 1.667;
    font-size: 1.0625rem;
}

a{
    text-decoration: none;
    color: inherit;
}
button,a{
    transition: all .3s ease;
}

/* custom */
.link-primary:focus, .link-primary:hover{
    color: var(--primary-color) !important;
}
.link-primary svg{
    transition: inherit;
}
.link-primary:hover svg{
    transform: translateX(.25rem);
}
.bg-gray{
    background-color: var(--gray-color);
}
.text-gray{
    color: var(--gray-color);
}

.clip-bottom-left{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 85%);
}
.bg-gradient-gray{
    background-image: var(--gradient-gray);
}

p.fs-2 {
    font-size: 1.2rem !important;
}
.mix-darken{
    mix-blend-mode: darken;
}
.link-hover:hover{
    color: var(--primary-color);
}

/* section gap */
.section-gap-top,
.section-gap{
    padding-top: 5rem;
}
.section-gap-bottom,
.section-gap{
    padding-bottom: 5rem;
}
.section-gap-sm-top,
.section-gap-sm{
    padding-top: 5rem;
}
.section-gap-sm-bottom,
.section-gap-sm{
    padding-bottom: 5rem;
}


/* btn */
.btn {
    --bs-btn-font-size: 1.125rem;
    --bs-btn-padding-x: 1.35em;
    --bs-btn-padding-y: 0.45em;
    --bs-btn-font-weight: 600;
    --bs-btn-border-radius: 0;
    text-transform: uppercase;
    transition: all .3s ease;
}
.btn:hover{
    transform: translateY(-2px);
}
.btn-primary {
    --bs-btn-bg: var(--primary-color);
    --bs-btn-border-color: var(--primary-color);
    --bs-btn-hover-border-color: var(--primary-color);
    --bs-btn-hover-bg: var(--primary-color);
    --bs-btn-active-bg: var(--text-color);
    --bs-btn-disabled-bg: var(--primary-color);
    background-image: var(--bs-gradient);
}




/* header section */
.nav-brand img{
    width: calc(5rem + 2.4vw);
}
.navbar {
    --bs-navbar-nav-link-padding-x: .75rem;
    --bs-navbar-hover-color: var(--primary-color);
    --bs-navbar-active-color: var(--primary-color);
}
.navbar-nav{
    --bs-nav-link-font-size: 1rem;
    --bs-nav-link-font-weight: 500;
    --bs-nav-link-color: var(--text-color);
}
.nav-link:focus-visible {
    box-shadow: none;
}
.navbar .btn{
    font-size: inherit;
}

.navbar-nav {
    --bs-nav-link-padding-y: 0.8rem;
}


/* offcanvas */
.dropdown_ul {
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
    border-radius: 0.3rem;
    --bs-nav-link-font-size: 1rem;
    --bs-nav-link-padding-y: 0.4rem;
    background: #fff;
    position: absolute;
    top: 110%;
    min-width: 13rem;
    transition: .3s ease;
    pointer-events: none;
    opacity: 0;
    background: var(--primary-color);
    overflow: hidden;
}
.nav-item {
    position: relative;
}
header {
    z-index: 999;
    position: relative;
}
.nav-item:hover > .dropdown_ul {
    top: 100%;
    pointer-events: all;
    opacity: 1;
}

.bar{
    background: none;
    border: 0;
    gap: 6px;
}
.bar span {
    background: var(--text-color);
    height: 2px;
    display: block;
    width: 1.5rem;
}
/* dropdown */
.nav-item:hover > .nav-link{
    color: var(--primary-color);
}
.dropdown_ul .nav-link {
    color: #fff;
}
.dropdown_ul .nav-link:hover {
    background-color: #fff;
}
.nav-link:hover svg{
    fill: var(--primary-color);
}
.menu__logo img{
    width: 7rem;
}


/* menu link */
.menu .offcanvas {
	background-color: rgb(255, 255, 255);
	backdrop-filter: blur(8px);
}
.menu__nav__item {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.menu__nav__item:first-child {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.menu__link {
	color: var(--black);
	padding: 10px 16px;
}
.menu__link.active {
	font-weight: 700;
	text-shadow: unset;
}
.menu__link:hover,
.menu__link[aria-expanded="true"] {
	text-shadow: 0 1px var(--black);
	background-color: var(--secondary-color);
    color: #fff;
}
.menu__link[aria-expanded="true"] .submenu-icon {
	transform: rotate(-180deg);
}
.submenu {
	background-color: var(--secondary-color);
    color: #fff;
}
.submenu__link {
	color: var(--black);
	padding: 14px 16px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.submenu__link:hover .submenu__icon {
	transform: rotate(90deg);
}


/* Hero section */
.hero {
    padding-top: calc(5rem + 6.25vw);
    padding-bottom: calc(7rem + 13vw);
}
.hero__bg {
    background: url('../images/hero-bg.jpg') no-repeat center center/cover;
    bottom: 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 90%);
}
.hero__bg-wrapper {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 84.5%);
}



/* Social Links */
.social a{
    display: inline-flex;
    align-items:  center;
}
.social a:hover{
    color: var(--primary-color);
}
.social a .social-icon {
  width: 3.25em;
  height: 3.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s ease;
  position: relative;
}
.social a:hover .social-icon {
  background: var(--secondary-color);
}
.social a img {
    max-width: 2em;
    max-height: 1.8em;
}
.social-sm a .social-icon {
    font-size: 0.6rem;
}
.social-dark a{
    color: var(--text-color);
}
.social-dark a .social-icon{
    background: var(--text-color);
}


.hero .social {
    bottom: 5rem;
    right: 2.5rem;
    z-index: 3;
}
.hero .social a {
    position: relative;
}
.hero .social a::after {
    content: '';
    height: 3px;
    width: 2.5rem;
    background: var(--primary-color);
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
}


/* Intro section */
.intro__logo{
    opacity: .1;
    width: 30%;
}


/* Service area */
.service__card .card-img-bottom{
    clip-path: polygon(0 7.5rem, 100% 0, 100% 100%, 0 100%);    
    margin-top: -3.5rem;
}
.service__card .card-img{
    clip-path: polygon(0 6rem, 100% 0, 100% 100%, 0 100%);    
}
.service__card .card-img-overlay{
    background-image: linear-gradient(-45deg, var(--primary-color) 0%, transparent 25%);    
}


/* About section */
.about__img{
    clip-path: polygon(33% 0, 100% 0, 100% 100%, 0 100%);   
    width: 55%;    
}
.about__img img{
    clip-path: polygon(37% 0, 100% 0, 100% 100%, 0 100%);   
}

/* Projects section */
.projects {
    --swiper-navigation-size: 1rem;
    --swiper-navigation-color: var(--text-color);
    --swiper-pagination-color: var(--bs-white);
    --swiper-pagination-bullet-width: 0.75rem;
    --swiper-pagination-bullet-height: 0.75rem;
    --swiper-pagination-bullet-inactive-color: var(--bs-white);
    --swiper-pagination-bullet-inactive-opacity: 0.3;
    --swiper-pagination-bullet-horizontal-gap: 5px;
     --swiper-pagination-bottom: 1.5rem;
}
.projects__slider{
    padding: 4.5rem 0;
}
.projects__slider-bg{
    width: var(--container-width);
}

.projects .swiper-button-next, 
.projects .swiper-button-prev{
    position: relative;
    width: 3.75rem;
    height: 3.75rem;
    border: 1px solid var(--text-color);
    border-radius: 50%;
    left: 0;
    top: 0;
    font-weight: 700;
    transition: .3s ease;
}
.projects .swiper-button-next:hover, 
.projects .swiper-button-prev:hover{
    border-color: var(--primary-color);
}
.projects__card img{
    width: 100%;
}


/* who-we-are section */
.who-we-are__img{
    clip-path: polygon(0 0, calc(100% - 33%) 0, 100% 100%, 0 100%);   
    width: 55%;    
}
.who-we-are__img img{
    clip-path: polygon(0 0, calc(100% - 37%) 0, 100% 100%, 0 100%);   
}


/* Team section */
.team__card .card-body {
    padding: .75rem;
    clip-path: polygon(0 35%, 100% 0, 100% 100%, 0% 100%);
    padding-top: 3rem;
}
.team__card-bg {
    clip-path: polygon(0 35%, 100% 1rem, 100% 100%, 0% 100%);
}
.team__bg{
    height: 72%;
}
.team__card-bg,
.team__card {
    transition: .3s ease;
}
.team__card:hover {
    transform: translateY(-.5rem);
}
.team__card:hover .team__card-bg {
    clip-path: polygon(0 45%, 100% 0rem, 100% 100%, 0% 100%);
}



/* Contact section */
.form-control {
    font-size: 1rem;
    color: var(--text-color);
    transition: .3s ease;
    border-color: var(--gray-color);
    padding: .75em;
    line-height: 1.4;
    border-radius: 0;
}
.form-control:focus {
    box-shadow: 0 0 0.5rem  rgba(0,0,0,.05);
    border-color: var(--primary-color);
}
.contact__box {
    --bs-card-spacer-x: 1.5rem;
    --bs-card-spacer-y: 1.5rem;
    border: 0;
    border-radius: 0;
}
.contact__text {
    padding: 1.5rem 1.5rem;
}
.contact__logo {
    opacity: .15;
    width: 20%;
}
.contact__info {
    font-size: 1rem;
}
.contact__info img{
    width: 2rem;
}


/* Foooter section*/
footer{
    --cliped: 5rem;
    padding-top: 8rem;

    clip-path: polygon(0 var(--cliped), 100% 0, 100% 100%, 0 100%);
    margin-top: calc(var(--cliped) * -1);
}
.footer__bg{
    clip-path: polygon(0 var(--cliped), 100% 1rem, 100% 100%, 0 100%);
}
.footer__logo img {
    width: calc(8rem + 3.5vw);
}
